
<header>
    <h1>{{title}}</h1>    
    <div class="heading-nav">
      <a href="/">Weather</a>
      <a href="/about">About</a>
      <a href="/help">Help</a>
      <i class="fas fa-cloud-sun fa-3x" id="weather"></i>
    </div>
</header>


{{!-- <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul> --}}