
<header>
    <h1>{{title}}</h1>    
    <div class="heading-nav">
      <a href="/">Weather</a>
      <a href="/about">About</a>
      <a href="/help">Help</a>
      <i class="fas fa-cloud-sun fa-3x" id="weather"></i>
    </div>
</header>

